{% extends "layout.html" %}

{% block content %}


<div class="index">
  {% if notes %}
      <div class="panel panel-default index__header">
        <h3 class="panel-body">
          Your Notes
        </h3>
      </div>
  
      {% for note in notes %}

      <div class="panel panel-default">
        <a href = "/note/{{note.id}}/detail/"  class="index__list-item-link">
          <div class="panel-body">
            {{note.subject}}
          </div>
        </a>
      </div>

      {% endfor %}

  {% else %}
      <div class="panel panel-default index__empty-list">
        <h3 class="panel-body">
          You don't have any notes. Click on the button below to create a note.
        </h3>
      </div>

  {% endif %}
    <div class="index__new-note-button-wrapper button-separation" align="right">
        <a href="{{ url_for('create_note') }}"><button type="button" class="btn btn-primary btn-sm">Create Note</button></a>
    </div>

</div>

{% endblock %}
