<!DOCTYPE html>
<html>

<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ title }} - Flask App</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/static/content/site.css" />
  <script src="https://kit.fontawesome.com/f90668c4c4.js" crossorigin="anonymous"></script>
</head>

<body>

<!-- Navbar -->
<div class="navbar navbar-default fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand" style="font-size: 30px; font-weight: 500;">
        <span style="color: #005A87;">Flask</span><span style="color: black;">App</span>
      </a>
    </div>
    <div class="navbar-collapse collapse navbar-right">
      <ul class="nav navbar-nav">
        <li><a href="{{ url_for('create_note') }}" style="color: #005A87;">New Note</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="container body-content">
  {% block content %}{% endblock %}
  <hr />
  <footer>
    <p>&copy; {{ year }} - My Flask Application</p>
  </footer>
</div>

</body>

</html>
